@import "./componet/navbar";
@import "./componet/varaible";
@import "./componet/button";
@import "./componet/group-mixin";
@import "./componet/card";

#active{
    transition: all 0.3s ease;
    background: #ff8add;
}
.container{
    padding: 10%;
    background-image: url(../images/bag/background.webp);
    height: 90vh;
}
.bags{
    margin-left: -40px;
    margin-top: -50px;
}
.bags-text{
    h1{
        font-size: 70px;
        color: $fontcolor;
        margin-top: 6%;
    }
    p{
        width: 30%;
        color: $fontcolor;
    }
}
.bag-product{
    padding: 50px;
    text-align: center;
    h1{
        font-size: 48px;
    }
    p{
        color: $pcolor;
    }
}

.popular-bag {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 110px;
    margin-top: -140px;
}

.product-popular {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;

    .product-small {
        flex: 1;
        max-width: 35%;
    }
    
    .product-large {
        flex: 2;
        max-width: 60%;
    }
    
    .product-small img, .product-large img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
    .product-large img{
        height: 78vh;
    }
    .popular-btn{
        display: flex;
        justify-content: space-between;
        padding: 2px;

        h2{
            font-size: 30px;
        }
    }
}

.footer-card{
    .card-left{
        .best-card{
            margin-left: 110px;
            border: 1px solid gray;
            width: 550px;
            height: 90vh;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            img{
                width: 549px;
                height: 70vh;
            }
            p{
                padding: 10px;
                font-size: 25px;
            }
        }
    }
}