@import "./componet/navbar";
@import "./componet/varaible";



.home-container{
    background: url(../images/home/shopping-online-on-phone-with-podium-paper-art-modern-pink-background-gifts-box-illustration-free-vector.jpg);
    background-position: bottom;
    background-size: cover;
    height: 570px;
    padding: 130px;
    color: #fff;
}
.text-home-container{
    margin-left: 100px;
}
.home-container p{
    width: 600px;
    font-size: 20px;
    margin-top: 15px;
}
.btn-home{
    margin-top: 15px;
}
.btn1-home{
    padding: 10px;
    background-color: #F70F68;
    border: none;
    color: #fff;
    width: 100px;
    font-size: 14px;
}
.btn2-home{
    padding: 8px;
    background-color: #F9C6C5;
    border: blue 2px solid;
    color: #000;
    width: 100px;
    font-size: 14px;
}


.text-home{
    text-align: center;
    padding: 34px;
    font-size: 20px;
}


.bag-home{
    display: flex
}
.img-home img{
    width: 500px;
    height: 500px;
    margin-left: 50px;
}
.text-bag-home{
    text-align: center;
    margin-top: 140px;
    margin-left: 100px;
}
.text-bag-home p {
    width: 500px; 
    font-size: 20px;  
}
.btn-bag-home{
    padding: 10px;
}
.btn1-bag-home{
    padding: 10px;
    background-color: #F70F68;
    border: none;
    color: #fff;
    width: 100px;
    font-size: 14px;
}
.btn2-bag-home{
    padding: 8px;
    background-color: #fff;
    border: #F70F68 2px solid;
    color: #000;
    width: 100px;
    font-size: 14px;
}


.discount-home{
    display: flex;
    padding: 50px;
    background-color: #EDF9FF;
    justify-content: space-evenly;
    margin-top: 15px;
}
.dis-home{
    text-align: center;
    width: 250px;
    font-size: 18px;
}


.clothe-home{
    display: flex;
    margin-top: 20px;
}
.img-clothe-home img{
    width: 500px;
    height: 500px;
    margin-right: 50px;
}
.clothe-home{
    justify-content: space-between;
}
.text-clothe-home{
    text-align: center;
    margin: 150px 0px 150px 100px;
}
.text-clothe-home p{
    width: 500px; 
    font-size: 20px;
}
.btn1-clothe-home{
    padding: 10px;
    background-color: #F70F68;
    border: none;
    color: #fff;
    width: 100px;
    font-size: 14px;
}
.btn2-clothe-home{
    padding: 8px;
    background-color: #fff;
    border: #F70F68 2px solid;
    color: #000;
    width: 100px;
    font-size: 14px;
}

.shoes-home{
    display: flex;
}
.img-shoe-home img{
    width: 500px;
    height: 500px;
    margin-left: 50px;
}
.text-shoes-home{
    text-align: center;
    margin-top: 140px;
    margin-left: 100px;
}
.text-shoes-home p{
    width: 500px; 
    font-size: 20px;
}
.btn1-shoe-home{
    padding: 10px;
    background-color: #F70F68;
    border: none;
    color: #fff;
    width: 100px;
    font-size: 14px;
}
.btn2-shoe-home{
    padding: 8px;
    background-color: #fff;
    border: #F70F68 2px solid;
    color: #000;
    width: 100px;
    font-size: 14px;
}

.feedback-home{
    margin-top: 24px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.text-fb-home{
    text-align: center;
    margin-top: 20px;
}
.text-fb-home p{
    font-size: 18px;
}
.card-home{
    width: 450px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.cards-home{
    display: flex;
    justify-content: space-evenly;
    margin-top: 34px;
}
.pf-card-home{
    display: flex;
}
.img-pf-card img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin: 14px;
}
.name-pf-home{
    margin-top: 24px;
}
.card-home p{
    margin-left: 24px;
}
.icon-card-home{
    margin-top: 8px;
}
.feel-card-home{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.card-home p{
    margin-bottom: 10px;
}