@import "./componet/navbar";
@import "./componet/varaible";
@import "./componet/button";
@import "./componet/group-mixin";
@import "./componet/card";
@import "./componet/footer";
@import "./componet/responesive";



// Bag Pag //

.container{
    width: 100%;
    background-image: url(../images/bag/background.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: 0%;
}
.bags{
    position: absolute;
    top:26%;
    left: 10%;
}
.bags-text{
    h1{
        font-size: 70px;
        color: $fontcolor;
        margin-top: 9%;
    }
    p{
        width: 30%;
        color: $fontcolor;
    }
}
.bag-product{
    padding: 50px;
    text-align: center;
    h1{
        font-size: 48px;
    }
    p{
        color: $pcolor;
    }
}

.popular-bag {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 110px;
    margin-top: -140px;
}

.product-popular {
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
   
    width: 100%;

    .product-small {
        flex: 2;
        max-width: 40%;

    }

    
    .product-large {
        flex: 4;
        width: 160%;
         
    }
    
    .product-small img, .product-large img {
        width: 100%;
        height: 78vh;
        border-radius: 8px;
    }
    .product-large img{
        height: 78vh;
    }
    .popular-btn{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        padding: 2px;

        p{
            font-size: 30px;
        }
    }
}

.footer-card{
    .card-left{
        .best-card{
            margin-left: 110px;
            border: 1px solid gray;
            width: 550px;
            height: 90vh;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            img{
                width: 549px;
                height: 70vh;
            }
            p{
                padding: 10px;
                font-size: 25px;
            }
        }
    }
}
.rows{
    P{
        margin-left: 115px;
        font-size: 28px;
        color: $pcolor;

        span{
            margin-left: 70%;
            font-size: 18px;
        }
    }
    .row{
    border-bottom: 4px solid rgba(0, 0, 0, 0.508);
    width: 86%;
    margin: auto;
    }
}


.div-footer{
    text-align: center;
    justify-content: center;
    border: 2px solid gray;
    border-left: none;
    border-right: none;
    padding: 25px;

    .more-product{
        font-size: 25px;

    }

    .show-more{
        @include centered;
        padding: 10px;
        gap: 8px;
    }
}

.shop-more{
    @include centered;
    margin-top: -18px;
    color: $button-color;
    gap: 8px;
    a{
        color: $button-color;
        font-size: 20px;
    }

}


// Clothes Pag //

.container-clothes{
    padding: 10%;
    background-image: url(https://shopfashionq.com/cdn/shop/files/Store_Banner_Q_1600x.jpg?v=1724783022);
    height: 100vh;
    background-position: center;
    background-size: cover;
}


// Shoes Pag //

.container-shoes{
    padding: 10%;
    background-image: url(../images/shoes/background.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
@include  responsive-sell ;