@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin text{
    text-decoration: none;
    list-style: none;
}

@mixin flex{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
}