@import "./varaible";
@import "./group-mixin";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
    width: 100%;
    background: $nav-bar;
    height: 12vh;
    position: sticky;
    top: 0;

    .nav-bar{
        display: flex;
        justify-content: space-between;
        span {
            display: none;
        }
    }
    .logo-container{
        display: flex;
        margin-left: 90px;
    }
    .logo-container img{
        width: 70px;
        border-radius: 100%;
        margin: 8px;
        margin-top: 9px;
    }
    .logo-container h2{
        margin-top: 26px;
        color: $fontcolor;
    }
    .nav-menu{
        padding: 10px;
        ul li{
            @include text;
            margin-top: 18px;
            margin-right: 90px;
            a{
                @include text;
                color: $fontcolor;
                font-size: 20px;
                margin: 10px;
                padding: 12px 24px;
            }
        }
        #sign{
            background: $button-color;
        }
        #sign:hover{
            color: rgba(128, 128, 128, 0.926);
        }
    }
}
